{%extends 'base.html'%}
{% load static %}
{%block title%}Upload script{%endblock%}
{%block imports%}
    <link rel="stylesheet" href="{% static './css/style_add_script.css' %}"">
    <script defer src="{% static './js/script_add_script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{%endblock%}
{%block header_content%}
    <section class="content-wrapper ">
    
    <form type="submit" method="post" enctype="multipart/form-data">
        <h1 style="text-align:center">Script manager</h1>
        {% csrf_token %}    
    <div class="content">
        <div class="left">
            <div class="image">
                <div id="display-image">
                    <input name="image" type="file" required id="image-input" accept="image/*" class="uploader">
                </div>
                *click to choose and upload a photo for thumbnail<br>
            </div>
            <br>
            <div class="input">
                <input class="form-control mb-3" name="name" required type="text" placeholder="Title of your filter" style="width:100%;" maxlength="100">
            </div>
            <div class="textarea">
                <textarea class="form-control" name="description" required id="" cols="50" rows="10"  placeholder="Description of your filter" style="width:100%"></textarea>
            </div>
        </div>
        <div class="right">
            <div class="script">
                <h3 style="text-align:center">Upload your script</h3>
                <div id="display-script">
                    <input name="file" required type="file" id="image-input" accept=".py" class="uploader-script form-control">
                </div>
            </div>
            <div class="rules">
                <h3 style="text-align:center">Note</h3>
                Please note the following:-
                <ol>
                    <li>Currently the website only supports python files</li>
                    <li>Please use only the libraries supported as per the documentation</li>
                    <li>you cannot download additional libraries or images</li>
                    <li>u may not save anything with your python file</li>
                    <li>please do not open any file in server or try to modify any content this will lead to ban in the account.</li>
                    <li>please do not try to open any graphical window</li>
                    <li>please refer documentation for proper use</li>
                </ol>
            </div>
        </div>
    </div>
    <button type="submit" name="submit">submit</button>
    </form>
</section>
{%endblock%}