{%extends 'base.html'%}
{%load static%}
{%block title%}Documentation{%endblock%}
{%block imports%}
<link rel="stylesheet" href="{% static './css/documentation.css' %}">
{%endblock%}
{%block header_content%}

<div class="title">
    <h1>Documentation</h1>

</div>
<div class="gpt3__features section__padding" id="features">
    <div class="gpt3__features-heading">
        <h1 class="gradient__text">The Future is Now and You Just Need to Realize It. Step into Future Today. &amp; Make
            it Happen.</h1>
        <p>Request Early Access to Get Started</p>
    </div>
    <div class="gpt3__features-container">
        <div class="gpt3__features-container__feature">
            <div class="gpt3__features-container__feature-title">
                <div></div>
                <h1>Libraries</h1>
            </div>
            <div class="gpt3__features-container_feature-text">
                <p>OpenCV-Pillow-Scipy-(Scikit-learn)-matplotlib you can use any or all of these libraries</p>
            </div>
        </div>
        <div class="gpt3__features-container__feature">
            <div class="gpt3__features-container__feature-title">
                <div></div>
                <h1>Required functions</h1> 
            </div>
            <div class="gpt3__features-container_feature-text">
                <p>There needs to be a main function named convert which takes in an argument of numpy.ndarray i.e. the file format you get when you open a image using opencv</p>
            </div>
        </div>
        <div class="gpt3__features-container__feature">
            <div class="gpt3__features-container__feature-title">
                <div></div>
                <h1>Unrequired imports and functions</h1>
            </div>
            <div class="gpt3__features-container_feature-text">
                <p>Please try keeping the processing time as small as possible. Larger processing time may result in problems. </p>
            </div>
        </div>
        <div class="gpt3__features-container__feature">
            <div class="gpt3__features-container__feature-title">
                <div></div>
                <h1>Remote access or hacking attempt</h1>
            </div>
            <div class="gpt3__features-container_feature-text">
                <p>This may lead to account ban and may lead to serious health problem for your digital life. Please avoid carrying out any cyberattack</p>
            </div>
        </div>
        <div class="gpt3__features-container__feature">
            <div class="gpt3__features-container__feature-title">
                <div></div>
                <h1>Analytics</h1>
            </div>
            <div class="gpt3__features-container_feature-text">
                <p>Your script is monitored for any hacking attempt and analytics so be careful.</p>
            </div>
        </div>
    </div>
</div>
{%endblock%}
{%block content%}
<div class="gpt3__whatgpt3 section__margin" id="wgpt3">
    <div class="gpt3__whatgpt3-feature">
        <div class="gpt3__features-container__feature">
            <div class="gpt3__features-container__feature-title">
                <div></div>
                <h1>What is GPT-3</h1>
            </div>
            <div class="gpt3__features-container_feature-text">
                <p>We so opinion friends me message as delight. Whole front do of plate heard oh ought. His defective
                    nor convinced residence own. Connection has put impossible own apartments boisterous. At jointure
                    ladyship an insisted so humanity he. Friendly bachelor entrance to on by.</p>
            </div>
        </div>
    </div>
    <div class="gpt3__whatgpt3-heading">
        <h1 class="gradient__text">The possibilities are beyond your imagination</h1>
        <p>Explore the Library</p>
    </div>
    <div class="gpt3__whatgpt3-container">
        <div class="gpt3__features-container__feature">
            <div class="gpt3__features-container__feature-title">
                <div></div>
                <h1>Chatbots</h1>
            </div>
            <div class="gpt3__features-container_feature-text">
                <p>We so opinion friends me message as delight. Whole front do of plate heard oh ought.</p>
            </div>
        </div>
        <div class="gpt3__features-container__feature">
            <div class="gpt3__features-container__feature-title">
                <div></div>
                <h1>Knowledgebase</h1>
            </div>
            <div class="gpt3__features-container_feature-text">
                <p>At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by. As put
                    impossible own apartments b</p>
            </div>
        </div>
        <div class="gpt3__features-container__feature">
            <div class="gpt3__features-container__feature-title">
                <div></div>
                <h1>Education</h1>
            </div>
            <div class="gpt3__features-container_feature-text">
                <p>At jointure ladyship an insisted so humanity he. Friendly bachelor entrance to on by. As put
                    impossible own apartments b</p>
            </div>
        </div>
    </div>
</div>

{%endblock%}