{%extends 'base.html'%}
{%load static%}
{%block title%}Home{%endblock%}
{%block imports%}
    <link rel="stylesheet" href="{% static './css/home.css' %}"">
{%endblock%}
{%block header_content%}
<div class="gpt3__header section__padding" id="home">
    <div class="gpt3__header-content">
      <h1 class="gradient__text">Let&apos;s Build Something amazing with great OpenCV</h1>
      <p>Let&apos;s use the most powerful libraries for image processing for the fullest and make incredible image filters for the world and show them the best in us.
        Feel free to share your skills with others.
      </p>
<!-- 
      <div class="gpt3__header-content__input">
        <input type="email" placeholder="Your Email Address" />
        <button type="button">Get Started</button>
      </div> -->

      <div class="gpt3__header-content__people">
        <img src={% static './images/people.png' %} />
        <p>1,600 people signed up with us in last 24 hours</p>
      </div>
    </div>

    <div class="gpt3__header-image">
      <img src={% static './images/ai.png' %} />
    </div>
  </div>
{%endblock%}
{%block content%}{%endblock%}