{%extends 'base.html'%}
{% load static %}
{%block title%}Image Filters{%endblock%}
{%block imports%}
<link rel="stylesheet" href="{% static './css/style_image_filter.css' %}">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
{%endblock%}
{% block header_content %}
    

    <div class="content">
        <h1 style="text-align:center">Upload a photo</h1>
        <div class="upload">
            <!-- create a box to upload a photo -->
            <div class="image">
                <div id="display-image">
                    <input type="file" name="image" required id="image-input" accept="image/jpeg, image/png, image/jpg" class="uploader">
                </div>
                *click to choose and upload a photo<br>
            </div>
            <img src="{% static './images/arrow.png' %}" alt="" width="100px" height="100px">
            <div class="image">
                <div id="display-edited-image" style="object-fit:contain">
                    <img alt="Edited image" src="" id="edited-image" style="display:none;">
                </div>
                *edited image will appear here
            </div>
        </div>
        <h1 style="text-align:center">Filters</h1>
        <div class="filters">
        {% for img,data in thumbnails.items%}
        
            <div class="filter">
                <button type="submit" onclick="send_request('{{img}}');">
                    <img src="{{ data.img.url}}" alt="connect" style="max-height:300px">
                    <div class="image__overlay">
                        <div class="image__title"><h2>{{data.name}}</h2></div>
                        <div class="image__description"><p>{{data.description}}</p></div>
                    </div>
                </button>
            </div>   
        {%endfor%}
        </div>
    </div>
    <!-- <input type="file" name="image" accept="image/*" required id="image" /> -->
    
    <!-- <img src="" style="display:none" id="edited-image"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        function send_request(data) {
            var formData = new FormData();
            formData.append('script', data);
            formData.append('file', $('#image-input')[0].files[0]);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            $.ajax({
                url: ' ',
                type: 'POST',
                processData: false,
                contentType: false,
                mimeType: 'multipart/form-data',
                data: formData,
                success: function(data) {
                    var data = JSON.parse(data);
                    console.log(data.converted_image);
                    $('#edited-image').attr('src', data.converted_image);
                    $('#edited-image').show();
                }
            });
        }
        const image_input = document.querySelector("#image-input");

image_input.addEventListener("change", function() {
  const reader = new FileReader();
  reader.addEventListener("load", () => {
    const uploaded_image = reader.result;
    document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
  });
  reader.readAsDataURL(this.files[0]);
});

    </script>
{% endblock %}