{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image-filter</title>
    <link rel="stylesheet" href="{% static './css/style_image_filter.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        jQuery(function ($) {
            $(window).on('scroll', function () {
                if ($(this).scrollTop() >= 200) {
                    $('.navbar').addClass('fixed-top');
                    $('.nav-item').addClass('fixed-top');
                    $('#logo146').attr("src", "{% static './images/Vectorlight.png' %}");
                } else if ($(this).scrollTop() == 0) {
                    $('.nav-item').removeClass('fixed-top');
                    $('.navbar').removeClass('fixed-top');
                    $('#logo146').attr("src", "{% static './images/Vector.png' %}");
                }
            });

            function adjustNav() {
                var winWidth = $(window).width(),
                    dropdown = $('.dropdown'),
                    dropdownMenu = $('.dropdown-menu');

                if (winWidth >= 768) {
                    dropdown.on('mouseenter', function () {
                        $(this).addClass('show')
                            .children(dropdownMenu).addClass('show');
                    });

                    dropdown.on('mouseleave', function () {
                        $(this).removeClass('show')
                            .children(dropdownMenu).removeClass('show');
                    });
                } else {
                    dropdown.off('mouseenter mouseleave');
                }
            }

            $(window).on('resize', adjustNav);

            adjustNav();
        });
    </script>
</head>
<body>
    <header class="header-area overlay">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container">
                <a href="#" class="navbar-brand"><img src="{% static './images/Vector.png' %}" alt="" width="200px"
                        id="logo146"></a>

                <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#main-nav">
                    <span class="menu-icon-bar"></span>
                    <span class="menu-icon-bar"></span>
                    <span class="menu-icon-bar"></span>
                </button>

                <div id="main-nav" class="collapse navbar-collapse">
                    <ul class="navbar-nav ml-auto">
                        <li><a href="/" class="nav-item nav-link">Home</a></li>
                        <li><a href="/filter" class="nav-item nav-link active">Filter</a></li>
                        <!-- <li class="dropdown">
                            <a href="#" class="nav-item nav-link" data-toggle="dropdown">Services</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">Dropdown Item 1</a>
                                <a href="#" class="dropdown-item">Dropdown Item 2</a>
                                <a href="#" class="dropdown-item">Dropdown Item 3</a>
                            </div>
                        </li> -->
                        <li class="dropdown">
                            <a href="/upload_script" class="nav-item nav-link" data-toggle="dropdown">Script</a>
                            <div class="dropdown-menu">
                                <a href="/upload_script" class="dropdown-item">Add script</a>
                                <a href="/archive" class="dropdown-item">Archive</a>
                                <!-- <a href="#" class="dropdown-item">Dropdown Item 3</a>
                                <a href="#" class="dropdown-item">Dropdown Item 4</a>
                                <a href="#" class="dropdown-item">Dropdown Item 5</a> -->
                            </div>
                        </li>
                        <li><a href="/documentation" class="nav-item nav-link">Documentation</a></li>
                        <li><a href="mailto:rajbunsha@gmail.com" class="nav-item nav-link">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="content">
        <h1 style="text-align:center">Upload a photo</h1>
        <div class="upload">
            <!-- create a box to upload a photo -->
            <div class="image">
                <div id="display-image">
                    <input type="file" name="image" required id="image-input" accept="image/jpeg, image/png, image/jpg" class="uploader">
                </div>
                *click to choose and upload a photo<br>
            </div>
            <img src="{% static './images/arrow.png' %}" alt="" width="100px" height="100px">
            <div class="image">
                <div id="display-edited-image" style="object-fit:contain">
                    <img alt="Edited image" src="" id="edited-image" style="display:none;">
                </div>
                *edited image will appear here
            </div>
        </div>
        <h1 style="text-align:center">Filters</h1>
        <div class="filters">
        {% for img,thumbnail in thumbnails.items%}
        
            <div class="filter">
                <button type="submit" onclick="send_request('{{img}}');">
                    <img src="{{ thumbnail.url}}" alt="connect" style="max-height:300px">
                </button>
            </div>   
            {%endfor%}
        </div>
    </div>
    <!-- <input type="file" name="image" accept="image/*" required id="image" /> -->
    
    <!-- <img src="" style="display:none" id="edited-image"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script>
        function send_request(data) {
            var formData = new FormData();
            formData.append('script', data);
            formData.append('file', $('#image-input')[0].files[0]);
            formData.append('csrfmiddlewaretoken', '{{ csrf_token }}');
            $.ajax({
                url: ' ',
                type: 'POST',
                processData: false,
                contentType: false,
                mimeType: 'multipart/form-data',
                data: formData,
                success: function(data) {
                    var data = JSON.parse(data);
                    console.log(data.converted_image);
                    $('#edited-image').attr('src', data.converted_image);
                    $('#edited-image').show();
                }
            });
        }
        const image_input = document.querySelector("#image-input");

image_input.addEventListener("change", function() {
  const reader = new FileReader();
  reader.addEventListener("load", () => {
    const uploaded_image = reader.result;
    document.querySelector("#display-image").style.backgroundImage = `url(${uploaded_image})`;
  });
  reader.readAsDataURL(this.files[0]);
});

    </script>
</body>
</html>