/* font is popins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://fonts.googleapis.com/css?family=Lobster');
/* body {
  font-family: 'Popins', sans-serif;
  padding-top: 0%;
  margin-top: 0%;
  font-family: 'Open Sans', sans-serif;
} */
.content
{
    zoom:0.75;
    -moz-transform: scale(0.8); 
    font-family: var(--font-family);
    /* background-color: #f2f0e3; */
    /* -moz-transform-origin: 0 0; */
    color:var(--color-text);
    text-align: center;
}
*
{
    transition: all 0.3s ease-in-out;
}
.content h1
{
    display: inline;
    /* margin-top: 0;
    padding-top: 0; */
    font-size:3.5rem;
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: var(--font-family);
    line-height:5rem;
}
#display-image{
    width: 800px;
    height: 450px;
    border: 1px solid var(--color-subtext);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
#display-edited-image{
    width: 800px;
    height: 450px;
    border: 1px solid var(--color-subtext);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#display-edited-image img{
    width: auto;
    height: 100%;
    /* display: none; */
}
.image
{
    display: flex;
    flex-direction: column;
    /* cursor:pointer; */
}
.uploader
{

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    /* visibility: hidden; */
    /* display: none; */
}
.upload
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
/* section
{
    padding: 20px;
    width: 1280px;
    margin: 40px auto;
} */
content ul
{
    display: flex;
    margin-bottom:10px;
}
content ul li
{
    list-style: none;
    background:#eee;
    padding:8px 20px;
    margin: 5px;
    Letter-spacing: 1px;
    font-size: 1.2rem;
    font-weight: bold;
}
content ul li:hover
{
    background-color: #03a9f4;
    color:#fff;
}
content ul li.active
{
    background-color: #03a9f4;
    color:#fff;
}
.filters
{
    display:grid;
    grid-template-columns: repeat(auto-fill, 450px);
    gap: 1.2rem;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 100px;;
}
.filters .filter
{
    position: relative;
    height: 270px;
    width: 460px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
}
.filters .filter button img
{
    width:100%;
    height:100%;
    object-fit: cover;
}
.filters .filter button
{
    width: 100%;
    border: none;
    border-width:0px;
    padding:0px;
}
.filters .filter:hover
{
    transform: translateY(-3px) scale(1.1) ;
    z-index: 1;
}